# Node modules
frontend/node_modules
backend/node_modules

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
frontend/.env
backend/.env

# Build output
frontend/.next
frontend/out
backend/dist





"/create-product": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "bed sheet"
                },
                "description": {
                  "example": "made up of pure cotten"
                },
                "category": {
                  "example": "Clothing & Bedding"
                },
                "subCategory": {
                  "example": "Bed Sheets"
                },
                "images": {
                  "example": [
                    {
                      "fileId": "68bc5abe5c7cd75eb8c27325",
                      "file_url": "https://ik.imagekit.io/aalam855/bazario/product/product-1753462778598_HYHFRIa2D.jpg?updatedAt=1753462780800"
                    }
                  ]
                },
                "sale_price": {
                  "example": "40"
                },
                "regular_price": {
                  "example": "50"
                },
                "colors": {
                  "example": ["#ffffff", "#ff0000", "#00ff00"]
                },
                "sizes": {
                  "example": ["XS", "S", "M"]
                },
                "stock": {
                  "example": "100"
                },
                "warranty": {
                  "example": "1 year warrenty"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },